* {
    margin: 0;
    padding: 0;
    /*ipad技法*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

ul, ol, li {
    list-style: none;
}

em, i {
    font-style: normal;
}

img {
    border: none;
}

input, img {
    vertical-align: middle;
}

body {
    background: #fff;
    color: #666;
    font-size: 14px;
    font-family: arial;
}

a {
    color: #666666;
    text-decoration: none;
}

html, body {
    background: #f9f9f9;
    width: 100%;
    height: 100%;
    font-family: Helvetica, sans-serif;
    -webkit-text-size-adjust: none;
}

textarea.fixAndroidKeyboard:focus, input.fixAKeyboard:focus {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-modify: read-write-plaintext-only;
}

.noscroll {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.app-dom {
    width: 100%;
}

.clearfix:after {
    display: block;
    content: '';
    clear: both;
    visibility: hidden;
}

body {
    font: 12px/1.5 "Microsoft YaHei", tahoma, arial, Hiragino Sans GB,
    \5b8b\4f53;
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

.header {
    position: fixed;
    width: 100%;
    top: 20px;
    left: 0px;
    /*堆叠顺序：值大在上面*/
    z-index: 999;
}

.nav {
    /*设置容器内布局*/
    display: flex;
    /*指定垂直居中*/
    align-items: center;
    /*指定两端对齐*/
    justify-content: space-between;
    /*行高*/
    line-height: 30px;
    /*设置水平居中*/
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

.logo {
    float: left;
    height: auto;
    width: auto;
    overflow: visible;
}

.logo img {
    height: 50px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
}

.entry {
    height: auto;
    width: auto;
}

.entry .state {
    margin-top: auto;
    margin-bottom: auto;
    color: #d43f3a;
    font-size: 20px;
    /*字体格式*/
    font-family: sans-serif;
    /*斜体*/
    font-style: oblique;
    /*大小写*/
    font-variant: normal;
    /*文本对齐*/
    text-align: left;
    /*垂直对齐*/
    vertical-align: auto;
    /*字距*/
    letter-spacing: normal;
    /*词距*/
    word-spacing: normal;
}

.entry a {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    color: #00bbee;
    font-size: 20px;
    /*下划线*/
    text-decoration: blink;
    /*立体样式*/
    border-right: solid 1px #666666;
    border-bottom: solid 1px #666666;
    zoom: 1;
}

/*hover:徘徊，鼠标放置时激活*/
.entry a:hover {
    color: #2e6da4;
    /*立体样式*/
    border-left: solid 1px #666666;
    border-top: solid 1px #666666;
    border-right: none;
    border-bottom: none;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.content {
    width: 100%;
    height: 100%;
    margin: 0 auto;;
}

.wrap {
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    text-align: center;
    z-index: 2;
}

.slogan {
    width: 600px;
    height: 300px;
    background: url(../../images/backgroundtext.png) no-repeat 0 0;
    display: inline-block;
    background-size: 600px;
}

.mid {
    width: 100%;
}

.main-entry {
    width: 400px;
    height: 50px;
    margin: 15px auto 0;
}

.main-entry a {
    display: block;
    text-decoration: none;
    float: left;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    font-size: 14px;
    letter-spacing: 1px;
    height: 50px;
    width: 170px;
    color: #ffffff;
    line-height: 50px;
    position: relative;
    overflow: hidden;
}

.main-entry a .title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding-left: 18px;
}

.main-entry a .title i {
    position: absolute;
    left: 20px;
    top: 14px;
    background: url(../../images/peopleicon.png) no-repeat 0 0;
    display: block;
    width: 24px;
    height: 24px;
    background-size: 24px;
}

.main-entry a .title .seller {
    background-image: url(../../images/emailicon.png);
}

.main-entry a .title .developer {
    background-image: url(../../images/peopleicon.png);
}

.main-entry a .title .developer2 {
    background-image: url(../../images/talkicon.png);
}

.main-entry s {
    background-color: #00a3ee;
    opacity: .9;
    display: block;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.main-entry a:hover s {
    background-color: #00aaee;
    opacity: 1;
}

a.personal-login, a.seller-login {
    margin-left: 20px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

a.seller-login .seller-entry {
    display: none;
    z-index: 2;
    position: relative;
    height: 50px;
}

a.seller-login .inerval-line {
    display: none;
    width: 150px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    height: 0;
    z-index: 2;
}

a.seller-login:hover {
    height: 100px;
    margin-top: -25px;
}

a.seller-login:hover .title {
    display: none;
}

a.seller-login:hover .seller-entry, a.seller-login:hover .inerval-line {
    display: block;
}

.alipay-app {
    text-align: center;
    position: absolute;
    bottom: 70px;
    left: 0;
    z-index: 3;
    width: 100%;
}

.alipay-app .ma {
    width: 600px;
    margin: 0 auto;
}

.alipay-app img {
    width: 60px;
    height: 60px;
}

.alipay-app p {
    line-height: 30px;
    height: 30px;
    color: #ffffff;
    margin: 5px 0 10px;
}

.footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 65px;
    background-color: white;
    z-index: 99;
}

.nav-links {
    width: 99%;
    height: 20px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.footer ul {
    padding-left: 5px;
}

.footer li {
    display: inline-block;
    margin: 2px;
}

.footer li a {
    color: #666;
}

.ownership {
    text-align: center;
    font-size: 15px;
    line-height: 55px;
}

.nav-icons {
    width: 250px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
}

.nav-icons a {
    width: 20px;
    display: block;
    float: left;
    margin-right: 5px;
    height: 28px;
    background: url(../../images/trademark.png) no-repeat 0 0;
}

a.pic1 {
    background-position: 0px -5px;
    width: 18px;
}

a.pic1:hover {
    background-position: 1px -28px;
    width: 18px;
}

a.pic2 {
    background-position: -33px -5px;
    width: 40px;
}

a.pic2:hover {
    background-position: -32px -28px;
    width: 40px;
}

a.pic3 {
    background-position: -74px -5px;
    width: 33px;
}

a.pic3:hover {
    background-position: -73px -28px;
    width: 33px;
}

a.pic4 {
    background-position: -115px -5px;
    width: 18px;
}

a.pic4:hover {
    background-position: -114px -28px;
    width: 18px;
}

a.pic5 {
    background-position: -135px -5px;
    width: 31px;
}

a.pic5:hover {
    background-position: -134px -28px;
    width: 31px;
}

a.pic7 {
    background-position: -200px -5px;
    width: 20px;
}

a.pic7:hover {
    background-position: -200px -26px;
    width: 20px;
}

#ServerNum, #ServerNum p {
    line-height: 10px;
    text-align: center;
    color: white;
    height: 10px;
}

/*slide*/
.front, .items, .item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.back {
    bottom: 70px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.items {
    overflow: visible;
}

.item {
    background: #fff none no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: none;
}
