<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.AdminMapper">

    <resultMap id="AdminList" type="adminDO">
        <id property="adminId" column="admin_id"/>
        <result property="adminName" column="admin_name"/>
        <result property="adminPassword" column="admin_password"/>
        <result property="adminLevel" column="admin_level"/>
        <result property="adminGmtCreate" column="admin_gmt_create"/>
        <result property="adminGmtModified" column="admin_gmt_modified"/>
    </resultMap>

    <select id="selectAdminList" resultMap="AdminList">
        select
            admin_id,
            admin_name,
            admin_password,
            admin_level,
            admin_gmt_create,
            admin_gmt_modified
        from admin;
    </select>

    <select id="selectAdminByName" parameterType="map" resultType="adminDO">
        select
            admin_id as adminId,
            admin_name as adminName,
            admin_password as adminPassword,
            admin_level as adminLevel,
            admin_gmt_create as adminGmtCreate,
            admin_gmt_modified as adminGmtModified
        from admin
        where admin_name = #{adminName}
    </select>

    <insert id="insertAdmin" parameterType="adminDO">
        INSERT INTO admin (
            admin_name,
            admin_password,
            admin_level,
            admin_gmt_create,
            admin_gmt_modified)
        VALUES (
            #{adminName},
            #{adminPassword},
            #{adminLevel},
            #{adminGmtCreate},
            #{adminGmtModified})
    </insert>

    <update id="updateAdmin" parameterType="adminDO">
        update admin
        set
            admin_name         = #{adminName},
            admin_password     = #{adminPassword},
            admin_level        = #{adminLevel},
            admin_gmt_modified = #{adminGmtModified}
        where admin_id = #{adminId}
    </update>

    <delete id="deleteAdminById" parameterType="int">
        delete from admin
        where admin_id = #{adminId}
    </delete>

</mapper>