<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.DiaryMapper">

    <resultMap id="DiaryList" type="diaryDO">
        <id property="diaryId" column="diary_id"/>
        <result property="userId" column="user_id"/>
        <result property="diaryName" column="diary_name"/>
        <result property="diaryText" column="diary_text"/>
        <result property="diaryGmtCreate" column="diary_gmt_create"/>
        <result property="diaryGmtModified" column="diary_gmt_modified"/>
    </resultMap>

    <select id="selectDiaryListByUserId" parameterType="int" resultMap="DiaryList">
        SELECT
            diary_id,
            user_id,
            diary_name,
            diary_text,
            diary_gmt_create,
            diary_gmt_modified
        from diary
        where user_id = #{userId}
              and is_deleted = '1'
    </select>

    <select id="selectDiaryByDiaryName" parameterType="map" resultType="diaryDO">
        select
            diary_id as diaryId,
            diary_name as diaryName,
            diary_text as diaryText,
            user_id as userId,
            diary_gmt_create as diaryGmtCreate,
            diary_gmt_modified as diaryGmtModified
        from diary
        where diary_name = #{diaryName}
              and is_deleted = '1'
    </select>

    <insert id="insertDiary" parameterType="diaryDO">
        insert into diary (
            diary_name,
            diary_text,
            is_deleted,
            user_id,
            diary_gmt_create,
            diary_gmt_modified)
        values (
            #{diaryName},
            #{diaryText},
            #{deleted},
            #{userId},
            #{diaryGmtCreate},
            #{diaryGmtModified})
    </insert>

    <update id="updateDiary" parameterType="diaryDO">
        UPDATE diary
        set diary_name         = #{diaryName},
            diary_text         = #{diaryText},
            diary_gmt_modified = #{diaryGmtModified}
        where diary_id = #{diaryId}
    </update>

    <delete id="deleteDiaryById" parameterType="int">
        update diary
        set is_deleted = '0'
        where diary_id = #{diaryId}
    </delete>

</mapper>