<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.ImageMapper">

    <resultMap id="ImageList" type="imageDO">
        <id property="imageId" column="image_id"/>
        <result property="userId" column="user_id"/>
        <result property="classId" column="class_id"/>
        <result property="imageText" column="image_text"/>
        <result property="imagePath" column="image_path"/>
        <result property="imageGmtCreate" column="image_gmt_create"/>
        <result property="imageGmtModified" column="image_gmt_modified"/>
    </resultMap>

    <select id="selectImageByText" parameterType="map" resultType="imageDO">
        SELECT
            image_id as imageId,
            user_id as userId,
            class_id as classId,
            image_text as imageText,
            image_path as imagePath,
            image_gmt_create as imageGmtCreate,
            image_gmt_modified as imageGmtModified
        from image
        where is_deleted = '1' and image_text = #{imageText}
    </select>

    <select id="selectImageListByUserId" parameterType="int" resultMap="ImageList">
        SELECT
            image_id,
            user_id,
            class_id,
            image_text,
            image_path,
            image_gmt_create,
            image_gmt_modified
        from image
        where user_id = #{userId} and is_deleted = '1'
    </select>

    <select id="selectImageListByClassId" parameterType="map" resultMap="ImageList">
        SELECT
            image_id,
            user_id,
            class_id,
            image_text,
            image_path,
            image_gmt_create,
            image_gmt_modified
        from image
        where user_id = #{userId}
              and class_id = #{classId}
              and is_deleted = '1'
    </select>

    <insert id="insertImage" parameterType="imageDO">
        INSERT INTO image (
            image_text,
            image_path,
            is_deleted,
            user_id,
            class_id,
            image_gmt_create,
            image_gmt_modified)
        VALUES (
            #{imageText},
            #{imagePath},
            #{deleted},
            #{userId},
            #{classId},
            #{imageGmtCreate},
            ##{imageGmtModified})
    </insert>

    <update id="updateImage" parameterType="imageDO">
        UPDATE image
        set
            class_id           = #{classId},
            image_text         = #{imageText},
            image_gmt_modified = #{imageGmtModified}
        where image_id = #{imageId}
    </update>

    <delete id="deleteImageById" parameterType="int">
        UPDATE image
        set is_deleted = '0'
        where image_id = #{imageId}
    </delete>

</mapper>