<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.UserMapper">

    <resultMap id="UserList" type="userDO">
        <id property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="userPassword" column="user_password"/>
        <result property="userLevel" column="user_level"/>
        <result property="userGmtCreate" column="user_gmt_create"/>
        <result property="userGmtModified" column="user_gmt_modified"/>
    </resultMap>

    <select id="selectUserList" resultMap="UserList">
        select
            user_id,
            user_name,
            user_password,
            user_level,
            user_gmt_create,
            user_gmt_modified
        from user;
    </select>

    <select id="selectUserByName" parameterType="map" resultType="userDO">
        select
            user_id as userId,
            user_name as userName,
            user_password as userPassword,
            user_level as userLevel,
            user_gmt_create as userGmtCreate,
            user_gmt_modified as userGmtModified
        from user
        where user_name = #{userName}
    </select>

    <insert id="insertUser" parameterType="userDO">
        INSERT INTO user (
            user_name,
            user_password,
            user_level,
            user_gmt_create,
            user_gmt_modified)
        VALUES (
            #{userName},
            #{userPassword},
            #{userLevel},
            #{userGmtCreate},
            #{userGmtModified})
    </insert>

    <update id="updateUser" parameterType="userDO">
        update user
        set
            user_name         = #{userName},
            user_password     = #{userPassword},
            user_level        = #{userLevel},
            user_gmt_modified = #{userGmtModified}
        where user_id = #{userId}
    </update>

    <delete id="deleteUserById" parameterType="int">
        delete from user
        where user_id = #{userId}
    </delete>

</mapper>