<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.UserPropertyMapper">

    <insert id="insertUserProperty" parameterType="userPropertyDO">
        insert into
            user_property (user_id,
                           property_nickname,
                           property_signature,
                           property_sex,
                           property_email,
                           property_location,
                           property_birthday,
                           property_gmt_create,
                           property_gmt_modified)
        values (#{userId},
                #{propertyNickname},
                #{propertySignature},
                #{propertySex},
                #{propertyEmail},
                #{propertyLocation},
                #{propertyBirthday},
                #{propertyGmtCreate},
                #{propertyGmtModified})    </insert>

    <update id="updateUserProperty" parameterType="userPropertyDO">
        select
            property_nickname,
            property_signature,
            property_sex,
            property_email,
            property_location,
            property_birthday,
            property_gmt_create,
            property_gmt_modified
        from user_property
        where user_id = #{userId}
    </update>

    <select id="queryUserPropertyById" parameterType="int" resultType="userPropertyDO">
        select
            property_nickname,
            property_signature,
            property_sex,
            property_email,
            property_location,
            property_birthday,
            property_gmt_create,
            property_gmt_modified
        from user_property
        where user_id = #{userId}
    </select>

</mapper>